@model FootballStats.Web.Models.Player.ListModel
@{
    ViewBag.Title = "Игроки";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Команда
        </th>
        <th>
        </th>
    </tr>

    @foreach (var player in Model.Players)
    {
        <tr>
            <td>
                @player.Name
            </td>
            <td>
                @player.TeamName
            </td>
            <td>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Выбрать", "Details", new { player.Id })
                }
            </td>
        </tr>
    }
</table>